[user]
    name = Anton Lukin
    email = anton@lukin.me
[github]
    user = antonlukin
[push]
    default = tracking
#[pager]
#    color = false
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[diff]
    renamelimit = 0
[merge]
    summary = true
    tool = vimdiff
[alias]
    st = status
    ci = commit
    br = branch -v
    co = checkout
    df = diff
    lg = log --pretty=format:\"%h %Cblue%ar %Cgreen%an%Creset: %s %Cred%d\"
    ll = log -10 --pretty=format:\"%h %Cblue%ar %Cgreen%an%Creset: %s %Cred%d\"
    gr = log --graph --pretty=format:\"%Cred%h %Cblue%ar%Creset %Cgreen%an%Creset %s %Cred%d\"
    where = branch -av --contains
[core]
    excludesfile = /home/lukin/.gitignore
    pager = less -FRSX
